body{
    margin: 0px;
    font-size: 20px;
}
.one {
    width: 100%;
    height: 100vh;
    background-image: url("new.jpeg");
    padding-top: 9%;
}
@font-face {
    font-family:A;
    src: url(SonoVariable.ttf);
}

@font-face {
    font-family: B;
    src: url(Tealand.ttf);
}
h1{
    font-size: 360%;
    color: #fabf47;
    font-weight:bolder;
    font-family: A;
    text-align: center;
    margin: 0px;
}
h3 {
    font-size: 200%;
    color:black;
    font-family: A;
    text-align: center;
    margin: 0px;
}
p {
    font-size: 120%;
    font-family: A;
    color:black;
    text-align:center;
}
li {
    font-size: 120%;
    font-family: A;
    color:black;  
}
.two {
    padding-left: 40%;
}
.sec {
    width: 100%;
    height: 100vh;
    background-image: url(new.jpeg);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 5%;
    padding-right:5% ;
    padding-top: 10vh;
    padding-bottom: 10vh;
}
.rec1 {
    width: 25%;
    height:80vh;
    background-color: #fabf47;
    background-image: url(new.jpeg);
}
.py{
    width: 100%;
    height: 50%;
    background-color:white;
    border-radius: 10px 10px 0px 0px;
}
#py{
    width: 100%;
    height: 100%;
}
.pygame{
    width: 100%;
    height: 50%;
    border-radius: 0px 0px 10px 10px;
}
#pygame {
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 10px 10px;

}


.rec2 {
    width: 25%;
    height:80vh;
    background-image: url(new.jpeg);
    
}
.html{
    width: 100%;
    height: 50%;
    background-color:green;
    border-radius: 10px 10px 0px 0px;
}
#html{
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
}
.css{
    width: 100%;
    height: 50%;
    background-color:blue;
    border-radius: 0px 0px 10px 10px;
}
#css {
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 10px 10px;

}

.rec3 {
    width: 25%;
    height:80vh;
    background-color: #fabf47;
    background-image: url(new.jpeg);
}
.figma{
    width: 100%;
    height: 50%;
    border-radius: 10px 10px 0px 0px;
}
#figma {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
}
.kaggle{
    width: 100%;
    height: 50%;
    background-color:white;
    border-radius: 0px 0px 10px 10px;
}
#kaggle {
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 10px 10px;

}



/* NaveBar css code  */

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family:"poppins",fontA;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 13%;
    padding: 20px 100px;
    background-image: url(backgroud.avif);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo {
    font-size: 200%;
    color:#fff;
    text-decoration: none;
    font-weight: 700;
}
.navbar a {
    position: relative;
    font-size: 130%;
    color: #fff;
    margin-left: 40px;
    text-decoration: none;

}
.navbar a:hover {
    contain: '';
    /* position: absolute; */
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    /* background-color:#fff; */
    transition: .3s;
    text-decoration: underline;
}
.navbar a:hover::before {
    width: 100%;
}
