body{
    margin: 0px;
    font-size: 20px;
}
.first {
    width: 100%;
    height: 100vh;
    background-image: url(new.jpeg);
    padding-top: 10%;
}
@font-face {
    font-family: fr;
    src: url(yo.ttf);
}
@font-face {
    font-family: fri;
    src: url(SonoVariable.ttf);
}
h1{
    font-size: 360%;
    color: #fabf47;
    font-weight: bolder;
    font-family: fr;
    text-align: center;
}
p{
    font-size: 130%;
    color: black;
    font-family: fri;
    /* font-size: 160%; */
    text-align: center;
}
.sec{
    padding-left: 20%;
    width: 60%;
    height: 40%;  
    background-color: yellowgreen; 
    display: flex;
    /* margin: auto; */
    margin-left: 20%;
    
}
.py {
    width :50%;
    height: 100%;
    background-color: aqua;
}
.per{
    width: 50%;
    height: 100%;
    background-color: #fabf47;
}
.ml{
    width: 50%;
    height: 100%;
    background-color: black;
}

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family:"poppins",fontA;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 13%;
    padding: 20px 100px;
    background-image: url(backgroud.avif);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border-radius: 10px;
    margin: 15px;
    margin-right: 15px;
}
.logo {
    font-size: 200%;
    color:#fff;
    text-decoration: none;
    font-weight: 700;
}
.navbar a {
    position: relative;
    font-size: 130%;
    color: #fff;
    margin-left: 40px;
    text-decoration: none;

}
.navbar a:hover {
    contain: '';
    /* position: absolute; */
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    /* background-color:#fff; */
    transition: .3s;
    text-decoration: underline;
}
.navbar a:hover::before {
    width: 100%;
}


